In [22]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('Data.csv')

print("Rows:", df.shape[0])
print("Columns:", df.shape[1])
df.info()
df.describe(include='all')

Rows: 119
Columns: 25
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Book_ID               119 non-null    int64
 1   Title                 119 non-null    object
 2   Author                119 non-null    object
 3   Year_Published        119 non-null    int64
 4   Year_Banned           119 non-null    int64
 5   Decade_Published      119 non-null    int64
 6   Decade_Banned         119 non-null    int64
 7   Years_To_Ban          119 non-null    int64
 8   Ban_Duration_Years    3 non-null      float64
 9   Country_Region        119 non-null    object
 10  Region_Code           119 non-null    object
 11  Regime_Type           119 non-null    object
 12  Ban_Level             119 non-null    object
 13  Stated_Ban_Reason     119 non-null    object
 14  Reason_Category       119 non-null    object
 15  Theme_Tags            119 non-null    object
 16  Theme_Count           119 non-null    int64
 17  Repeat_Ban            119 non-null    int64
 18  Author_Ban_Frequency  119 non-null    int64
 19  Reinstated            119 non-null    int64
 20  Legal_Challenge       119 non-null    int64
 21  Conflict_Period       119 non-null    int64
 22  Press_Freedom_Score   0 non-null      float64
 23  Source_Reference      119 non-null    object
 24  Notes                 8 non-null      object
dtypes: float64(2), int64(12), object(11)
memory usage: 23.4+ KB

,Book_ID,Title,Author,Year_Published,Year_Banned,Decade_Published,Decade_Banned,Years_To_Ban,Ban_Duration_Years,Country_Region,...,Theme_Tags,Theme_Count,Repeat_Ban,Author_Ban_Frequency,Reinstated,Legal_Challenge,Conflict_Period,Press_Freedom_Score,Source_Reference,Notes
count,119.000000,119,119,119.000000,119.000000,119.000000,119.000000,119.000000,3.000000,119,...,119,119.0,119.000000,119.000000,119.00000,119.000000,119.000000,0.0,119,8
unique,NaN,119,93,NaN,NaN,NaN,NaN,NaN,NaN,30,...,107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,8
top,NaN,Ulysses,Khaled Hosseini,NaN,NaN,NaN,NaN,NaN,NaN,United States,...,youth;identity;language,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALA archives,Landmark obscenity case
freq,NaN,1,7,NaN,NaN,NaN,NaN,NaN,NaN,61,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,1
mean,60.714286,NaN,NaN,1861.865546,1955.571429,1827.394958,1928.739496,93.705882,21.666667,NaN,...,NaN,3.0,0.411765,1.731092,0.87395,0.092437,0.184874,NaN,NaN,NaN
std,34.852508,NaN,NaN,412.520999,89.022238,413.747778,118.261092,372.969403,11.015141,NaN,...,NaN,0.0,0.494234,1.125193,0.33331,0.290867,0.389837,NaN,NaN,NaN
min,1.000000,NaN,NaN,-750.000000,1559.000000,-750.000000,1550.000000,0.000000,11.000000,NaN,...,NaN,3.0,0.000000,1.000000,0.00000,0.000000,0.000000,NaN,NaN,NaN
25%,30.500000,NaN,NaN,1930.500000,1953.000000,1885.000000,1930.000000,3.000000,16.000000,NaN,...,NaN,3.0,0.000000,1.000000,1.00000,0.000000,0.000000,NaN,NaN,NaN
50%,61.000000,NaN,NaN,1965.000000,1980.000000,1950.000000,1980.000000,8.000000,21.000000,NaN,...,NaN,3.0,0.000000,1.000000,1.00000,0.000000,0.000000,NaN,NaN,NaN
75%,90.500000,NaN,NaN,1992.000000,2004.000000,1990.000000,2000.000000,20.000000,27.000000,NaN,...,NaN,3.0,1.000000,2.000000,1.00000,0.000000,0.000000,NaN,NaN,NaN
max,120.000000,NaN,NaN,2019.000000,2022.000000,2010.000000,2020.000000,2566.000000,33.000000,NaN,...,NaN,3.0,1.000000,6.000000,1.00000,1.000000,1.000000,NaN,NaN,NaN

In [57]:
import pandas as pd
import numpy as np

# -------------------------
# Load dataset
# -------------------------
df = pd.read_csv("data.csv")

print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

# -------------------------
# Required columns
# -------------------------
required_columns = [
    "Book_ID","Title","Author","Year_Published","Year_Banned",
    "Decade_Published","Decade_Banned","Years_To_Ban",
    "Country_Region","Region_Code","Regime_Type","Ban_Level",
    "Reason_Category","Theme_Tags","Theme_Count",
    "Repeat_Ban","Author_Ban_Frequency","Reinstated",
    "Legal_Challenge","Conflict_Period","Source_Reference"
]

missing_cols = set(required_columns) - set(df.columns)
assert not missing_cols, f"Missing columns: {missing_cols}"

# -------------------------
# Duplicate checks
# -------------------------
assert df["Book_ID"].is_unique, "Duplicate Book_ID detected"

# -------------------------
# Temporal logic checks
# -------------------------
bad_years = df[df["Year_Banned"] < df["Year_Published"]]
print("Year logic violations:", len(bad_years))

df["Years_To_Ban_calc"] = df["Year_Banned"] - df["Year_Published"]
year_mismatch = df[df["Years_To_Ban"] != df["Years_To_Ban_calc"]]
print("Years_To_Ban mismatches:", len(year_mismatch))

# -------------------------
# Decade validation
# -------------------------
def decade_from_year(y):
    return f"{int(y // 10) * 10}s"

decade_pub_mismatch = df[
    df["Decade_Published"] != df["Year_Published"].apply(decade_from_year)
]
decade_ban_mismatch = df[
    df["Decade_Banned"] != df["Year_Banned"].apply(decade_from_year)
]

print("Decade_Published mismatches:", len(decade_pub_mismatch))
print("Decade_Banned mismatches:", len(decade_ban_mismatch))

# -------------------------
# Locked vocabularies
# -------------------------
valid_region = {"NA","EU","SA","EA","MENA","LATAM","SSA","SEA","GLOBAL"}
valid_regime = {"Democracy","Hybrid","Authoritarian","Colonial"}
valid_ban_level = {"School","Library","National","Mixed","Informal"}
valid_reason = {
    "Sexuality","Political","Religious","Race","Language",
    "Moral","Ideological","Violence","Social_Order"
}

print("Invalid Region_Code:",
      df.loc[~df["Region_Code"].isin(valid_region), "Region_Code"].unique())

print("Invalid Regime_Type:",
      df.loc[~df["Regime_Type"].isin(valid_regime), "Regime_Type"].unique())

print("Invalid Ban_Level:",
      df.loc[~df["Ban_Level"].isin(valid_ban_level), "Ban_Level"].unique())

print("Invalid Reason_Category:",
      df.loc[~df["Reason_Category"].isin(valid_reason), "Reason_Category"].unique())

# -------------------------
# Theme count validation
# -------------------------
def count_themes(x):
    if pd.isna(x):
        return 0
    return len(x.split(";"))

theme_mismatch = df[
    df["Theme_Count"] != df["Theme_Tags"].apply(count_themes)
]

print("Theme_Count mismatches:", len(theme_mismatch))

# -------------------------
# Repeat ban logic
# -------------------------
repeat_logic_violations = df[
    (df["Repeat_Ban"] == 1) & (df["Author_Ban_Frequency"] < 2)
]

print("Repeat_Ban logic violations:", len(repeat_logic_violations))

# -------------------------
# Binary field validation
# -------------------------
binary_fields = ["Repeat_Ban","Reinstated","Legal_Challenge","Conflict_Period"]

for col in binary_fields:
    bad_vals = df.loc[~df[col].isin([0,1,np.nan]), col].unique()
    print(f"{col} invalid values:", bad_vals)

# -------------------------
# Missing value audit
# -------------------------
missing_summary = df.isna().sum().sort_values(ascending=False)
print("\nMissing values per column:\n", missing_summary)

Rows: 119
Columns: 25
Year logic violations: 0
Years_To_Ban mismatches: 0
Decade_Published mismatches: 119
Decade_Banned mismatches: 119
Invalid Region_Code: ['US' 'CA']
Invalid Regime_Type: []
Invalid Ban_Level: []
Invalid Reason_Category: []
Theme_Count mismatches: 0
Repeat_Ban logic violations: 0
Repeat_Ban invalid values: []
Reinstated invalid values: []
Legal_Challenge invalid values: []
Conflict_Period invalid values: []

Missing values per column:
 Press_Freedom_Score     119
Ban_Duration_Years      116
Notes                   111
Book_ID                   0
Reason_Category           0
Source_Reference          0
Conflict_Period           0
Legal_Challenge           0
Reinstated                0
Author_Ban_Frequency      0
Repeat_Ban                0
Theme_Count               0
Theme_Tags                0
Stated_Ban_Reason         0
Title                     0
Ban_Level                 0
Regime_Type               0
Region_Code               0
Country_Region            0
Years_To_Ban              0
Decade_Banned             0
Decade_Published          0
Year_Banned               0
Year_Published            0
Author                    0
Years_To_Ban_calc         0
dtype: int64